<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PCRHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <System.Windows.Forms.ApplicationConfigurationSection>
        <add key="DpiAwareness" value="PerMonitorV2"/>
    </System.Windows.Forms.ApplicationConfigurationSection>
    <userSettings>
        <PCRHelper.Properties.Settings>
            <setting name="TesseractPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AdbServerExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="PCRExImgsDir" serializeAs="String">
                <value />
            </setting>
            <setting name="PCRRegionStr" serializeAs="String">
                <value />
            </setting>
        </PCRHelper.Properties.Settings>
    </userSettings>
</configuration>
